$NavbarHeight: 80px;

.Navbar {
    position: relative;
    background-color: black;
    display: flex;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 99;
    height: $NavbarHeight;
    line-height: $NavbarHeight;
    background-color: rgba(0, 0, 0, 1);
    transition: all 2s ease;

    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
  
    justify-content: space-around;
    align-items: center;
}

.homeIconContainer {
    display: block;
    .homeIconLink {
        text-decoration: none;
        display: inline-block;
        #homeIcon {
            color: white;
            transition: all 1s ease;
            &:hover {
                transform: scale(1.5, 1.5);
            }
        }
    }
}

