* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  /* padding is inside width and height */ 
}

html {
  scroll-behavior: smooth;
  transition: scroll-behavior 2s ease;
}

body {
  font-family: 'Noto Sans', sans-serif; 
  color: black;
}